<div class="container" ng-controller="SearchController as srchCtrl">
		<h4> SEARCH <small> lite </small></h4>
		
		<form ng-submit="search()">
				<div class="input-group"> 
						<input type="text" ng-model="searchTerm" class="form-control" id="searchQuery" ng-keyup="setpath()"> 
						<div class="input-group-addon"> 
								<button type="submit" ng-click=""><i class="fa fa-search"></i> </button>
						</div>
				</div>
		</form>
		<div id="results" ng-show="searchResults">
				{{searchResults}}
				<div ng-show="searchResults.tickets">
						<h3> TICKETS </h3> 
						<div class="panel" ng-repeat="ticket in searchResults.tickets" ng-click="goto(ticket)" style="cursor: pointer;">
								<div class="panel-heading">
										{{ticket.project_short_code}}-{{ticket.number}} | {{ticket.header}}
										<span class="pull-right"> {{ticket.status_str.toUpperCase()}} </span>
								</div>
								<div class="panel-body" ng-bind-html="ticket.description">
								</div>
						</div>
				</div>
		</div>
</div>
