<div class="container" ng-controller="SearchController as srchCtrl">
		<h4> SEARCH <small> lite </small></h4>
		
		<form ng-submit="search()">
				<div class="input-group"> 
						<input type="text" ng-model="searchTerm" class="form-control" id="searchQuery" ng-keyup="setpath()"> 
						<div class="input-group-addon"> 
								<button type="submit" ng-click=""><i class="fa fa-search"></i> </button>
						</div>
				</div>
		</form>
		<div id="results" ng-show="searchResults">
				Matching Data: <br>
				{{searchResults}}
		</div>
</div>
